<div>

	<ul class = "navigation" ng-if = "ctrl.subcategoryID != null && ctrl.subCategoryName != null">
		<li><a href = "/abcClientApp">Home</a></li>
		<li><img src = "resources/images/next.svg"></li>
		<li><a href = "#!/product/{{ctrl.categoryName}}/{{categoryId}}">{{ctrl.categoryName}}</a></li>
		<li><img src = "resources/images/next.svg"></li>
		<li><a>{{ctrl.subCategoryName}}</a></li>
	</ul>
	<ul class = "navigation" ng-if = "ctrl.subcategoryID != null && ctrl.subCategoryName == null">
		<li><a href = "/abcClientApp">Home</a></li>
		<li><img src = "resources/images/next.svg"></li>
		<li><a>{{ctrl.categoryName}}</a></li>
	</ul>
	<ul class = "navigation" ng-if = "ctrl.subcategoryID == null && ctrl.keyWord != null">
		<li><a href = "/abcClientApp">Home</a></li>
		<li><img src = "resources/images/next.svg"></li>
		<li><a>Search result</a></li>
	</ul>
	<div class = "productTitle">
		<h2 class = "pagination">{{pageTitle}}</h2>
		<md-content layout = "row" layout-wrap>
			<div ng-repeat = "x in ProductData" flex-sm = "50" flex-md = "25" flex-gt-md = "20">
				<md-card class = "item md-whiteframe-2dp"  ng-mouseenter = "ctrl.hover($event)" 
						ng-mouseleave = "ctrl.leave($event)">
					<a ng-href = "#!/productDetail/{{x.idProduct}}/{{x.productName}}">
						<img ng-src = "{{x.image}}" alt = "{{x.productName}}" class = "md-card-image">
					</a>
					<md-card-title layout = "column">
						<md-card-title-text><p>{{x.productName}}</p></md-card-title-text>
						<md-card-title-text><h3>{{x.price.toLocaleString("vi",{ style: 'currency', currency: 'VND' })}}</h3></md-card-title-text>
					</md-card-title>
					<md-card-action layout = "row" layout-align = "end center">
						<md-button ng-click= "ctrl.addProductToCart(x.idProduct)">Add to cart</md-button>
					</md-card-action>
				</md-card>
			</div>
		</md-content>
	</div>
	<div layout = "row" class = "pagination" ng-if = "ProductData.length > 0">
		<md-button ng-repeat = "x in ctrl.range()" ng-click = "ctrl.openPageIndex(x)" class = "paginationButton">{{x}}</md-button>
	</div>
</div>